:root {
  --primary-color: #61dafb;
}

body{
  background: #282c34;
  color: #f8f8ff;
}

.condition_group{
  border-radius: 4px;
  padding: 15px 30px;
  margin: 15px 0;
}

.condition_group.container_group{
  padding-left: 60px;
}